extend = [
    { path = "./build/common-tasks.toml" },
    { path = "./build/dist-tasks.toml" },
    { path = "./build/watch-tasks.toml", optional = true }
]

## START Full sweeps/aliases
[tasks.b]
run_task = { name = ["format", "build"], parallel = false }

[tasks.br]
run_task = { name = ["format", "build_release"], parallel = false }

[tasks.a]
run_task = { name = [
    "build_workspace",
    "build",
    "test",
    "build_release_workspace",
    "build_release",
    "test_all",
], parallel = false }


[tasks.t]
run_task = { name = ["test"], parallel = false }

[tasks.ta]
run_task = { name = ["test_all"], parallel = false }

[tasks.r]
run_task = { name = ["run"], parallel = false }

[tasks.rr]
run_task = { name = ["run_release"], parallel = false }

[tasks.bw]
run_task = { name = ["build_workspace"], parallel = false }

[tasks.brw]
run_task = { name = ["build_release_workspace"], parallel = false }

[tasks.cl]
run_task = { name = ["clean"], parallel = false }

[tasks.f]
run_task = { name = ["format"], parallel = false }

[tasks.envs]
run_task = { name = "print_all", parallel = false }

[tasks.dist]
env.PROFILE = "release"
run_task = { name = ["build_release_dist"], parallel = false }

[tasks.reset]
run_task = { name = ["a"], parallel = false }
dependencies = ["clean"]
# END Full sweeps/aliases

